@charset 'UTF-8';

// Normalize
@import './normalize';

/* Settings */
@import './variables';

/* Tools */
@import './tools/mixins';

/* stylelint-disable */
#preview-bar-iframe {
  display: none !important;
}
/* stylelint-enable */

html {
  font-size: 62.5%; // Set the font-size equal to 10px
}

body {
  @include page-width(0 $gutter-large);
  background-color: $color-background;
  color: $color-primary;
  border: solid 2px $color-borders;
  font-family: $font-body;
  font-style: $font-body-style;
  font-weight: $font-body-weight;
  font-size: $font-size-base;

  @include media-query($small) {
    background-color: $color-borders;
  }
}

h1 {
  font-family: $font-heading;
  font-style: $font-heading-style;
  font-weight: $font-heading-weight;
  color: $color-headings;
  font-size: $font-size-heading;
}

a {
  font-family: $font-body;
  font-style: $font-body-style;
  font-weight: $font-body-bold-weight;
  text-decoration: none;
  color: $color-link;

  &:hover {
    color: $color-link-hover;
  }
}

/* stylelint-disable-next-line */
.collection-products {
  position: relative;
  @include gradient(right, $color-background, $color-borders);
  border: solid 1px $color-borders;
  @include overlay(2);
}

.img {
  width: 360px;
  height: 240px;
  @include object-fit(cover, top);
  transition: opacity 0.5s ease-in;

  &:hover {
    opacity: var(--color-overlay-opacity);
  }
}
