/* Colors */
// Text colors
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-headings: var(--color-headings);
$color-sale: var(--color-sale);

// Background colors
$color-background: var(--color-background);
$color-borders: var(--color-borders);

// Button colors
$color-btn: var(--color-btn);
$color-btn-label: var(--color-btn-label);
$color-btn-secondary: var(--color-btn-secondary);

// Form colors
$color-form-text: var(--color-form-text);
$color-form-borders: var(--color-form-borders);
$color-form-background: var(--color-form-background);

// Overlay colors
$color-overlay-opacity: var(--color-overlay-opacity);
$color-overlay: var(--color-overlay);
$color-overlay-text: var(--color-overlay-text);

// Form states
$color-error: #D0021B;
$color-error-background: #EBD5D5;
$color-success: #02D01B;
$color-success-background: #B8E6B8;

// Placeholders
$color-placeholder-foreground: #C9C9C9;
$color-placeholder-background: #F2F2F2;

/* Typography */
// Font faces
$font-heading: var(--font-heading);
$font-heading-weight: var(--font-heading-weight);
$font-heading-style: var(--font-heading-style);
$font-body: var(--font-body);
$font-body-weight: var(--font-body-weight);
$font-body-style: var(--font-body-style);
$font-body-bold-weight: var(--font-body-bold);
$font-body-bolder-weight: var(--font-body-bolder);
$font-body-italic-style: var(--font-body-italic);

// Font sizes
$font-size-base: var(--font-size-base-primary);
$font-size-heading: var(--font-size-base-secondary);

// Transitions

/* Grid */
// Layout
// Breakpoints

/* Misc */
